/* body要素(全体) */
body
{
    
    color: white;
    background-color: #beb7e3;
    height: 100%;
}


div#clock_frame
{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

p
{
    
    display: block;
    float: right;
    width: 85%;
    font-family: 'Oleo Script Swash Caps', cursive;
}


p#clock_date
{
    color: #b87Db4;
    text-align: right;
    font-size: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}


p#clock_time
{
    color: #935E4B;
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
